<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">

   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- Font Awesome -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
   <!-- Bootstrap core CSS -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
   <!-- Material Design Bootstrap -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
   <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
   <link rel="stylesheet" href="/style.css">
   <title>Document</title>
    
</head>
<body style="margin-bottom:50px" >

   <!-- <ul class="nav justify-content-center grey lighten-4 py-4">
      <li class="nav-item">
         <a class="nav-link active" href="/">accueil</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/books">books</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/movies-search ">movies search</a>
      </li>
         
   </ul> -->
   <nav class="justify">
      
      <ul class="nav justify-content-center grey lighten-4 py-4">
         <li class="nav-item">
               <a class="nav-link active" href="/">accueil</a>
         </li>
         <li class="nav-item">
               <a class="nav-link" href="/books">books</a>
         </li>
         <li class="nav-item">
               <a class="nav-link" href="/movies-search ">movies search</a>
         </li>
         <li class="nav-item">
            <span id="connectionLink">
               <a class="nav-link" href="/login">login</a>
            </span>
         </li>
            
      </ul>
   </nav>  
