    <% include header.ejs %>

    <ul class="nav justify-content-center grey lighten-4 py-4">
        <li class="nav-item">
            <a class="nav-link active" href="/">accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/books">books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/movies-search ">movies search</a>
        </li>
      
    </ul>

    <h1 align="center">salut ici la compagnie !  </h1>      
    <p>juste un template pour tester le systeme </p>
    
<% include footer.ejs %>