        <% include  ./partials/header.ejs %>


    <div class="text-center ">
        <h3 >faire des recherches sur un film </h3> 
        <input type="text" name="search" id="search" placeholder="rechercher ...">
        <button type="submit">search</button>
        <div class="container">
            <div class="row"id="result">
            </div>
        </div>
        
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        
        const search = document.querySelector('#search').value
        const searchSub = document.querySelector('button')
        let resultsDiv = document.querySelector('#result')
        
        const API_KEY = "7843f8d22a43911f15301ef8d76338ae"
        searchSub.addEventListener('click',valid);
        function valid() {
            const query = `https://api.themoviedb.org/3/search/multi?api_key=${API_KEY}&language=fr-FR&include_adult=false&query=${search}`
          //  const query = `https://api.themoviedb.org/3/search/movie?api_key=${API_KEY}&query=${search.value}&language=fr-FR`
            axios.get(query)
                .then(function (response) {
                    console.log(response)
                    displayResults(response.data.results)
                })
                .catch(err => console.log('error',err ))
                
        }
        function displayResults(results) {
            resultsDiv.innerHTML = ''
            let moviesDiv = document.createElement("div")
            moviesDiv.classList.add("row")
            for (film of results) {
                
                resultsDiv.innerHTML +=
                `<div style="box-shadow:gray 5px;margin-bottom:5px;margin-top:25px;"class="col-3"><div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2${film.poster_path}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                            <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2${film.poster_path}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p style="font-size:1.2em"class="title is-4">${film.original_title}</p>
                        </div>
                    </div>

                    <div style="height:210px;overflow:scroll" class="content">
                        ${film.overview}
                        <br>
                        <time >${film.release_date}</time>
                    </div>
                </div>
                </div>
                </div> `
            }
            const survol = document.querySelectorAll('.survol')
            survol.forEach(e =>{
                e.addEventListener('mouseout',()=>{
                    e.classList.add('zoom')
                })
            })
        }
        
    </script>
<% include  ./partials/footer.ejs %>