*{
    box-sizing: border-box;
    margin: 0;
}
.visibleNone{
    display: none;
}
.visibleBlock{
    display: block;
}
.zoom:hover{
    scale: (0.5)
}
body{
    margin: 0 auto;
}
h1 ,h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',cursive;
    font-style: italic;
    font-size: 25px;
}